In [1]:
from pyspark.sql import SparkSession,Window
from pyspark.sql.functions import *
from pyspark.sql.types import *
import json

In [2]:
spark=SparkSession.builder\
    .appName("Scaler EDA").\
        getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/21 03:22:14 INFO SparkEnv: Registering MapOutputTracker
24/07/21 03:22:14 INFO SparkEnv: Registering BlockManagerMaster
24/07/21 03:22:14 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
24/07/21 03:22:14 INFO SparkEnv: Registering OutputCommitCoordinator

In [9]:
df=spark.read.csv(path="/user/sovik/target_data.csv",header=True,inferSchema=True)

In [48]:
df.show()

+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+
| Id|order_status|order_products_value|order_freight_value|order_items_qty|order_purchase_timestamp|   order_aproved_at|order_delivered_customer_date|      customer_city|customer_state|customer_zip_code_prefix|review_score|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+
|  1|   delivered|                79.0|               17.8|              1|     2017-10-02 10:56:00|2017-10-02 11:07:00|          2017-10-10 21:25:00|           Luziania|            GO|                     728|           5|
|  2|   delivered|               119.9|              27.16|              1|     2018-07-24 20:41:00|2018-07-26 03:24:00|          2018-08-07 15:27:00|          Joinville|            SC|                     892|           5|
|  3|   delivered|              519.99|              41.69|              1|     2018-08-08 08:38:00|2018-08-08 08:55:00|          2018-08-17 18:06:00|              Serra|            ES|                     291|           1|
|  4|   delivered|                29.5|              17.92|              1|     2017-11-18 19:28:00|2017-11-18 19:45:00|          2017-12-02 00:28:00|     RIO DE JANEIRO|            RJ|                     222|           4|
|  5|   delivered|               26.77|              23.11|              1|     2018-02-13 21:18:00|2018-02-13 22:20:00|          2018-02-16 18:17:00|          Sao Paulo|            SP|                      40|           5|
|  6|   delivered|               419.9|              23.02|              1|     2017-07-09 21:57:00|2017-07-09 22:10:00|          2017-07-26 10:57:00|       Santa Adelia|            SP|                     159|           5|
|  7|   delivered|                65.0|              16.21|              1|     2017-04-11 12:22:00|2017-04-13 13:25:00|          2017-04-13 13:25:00|           Varginha|            MG|                     370|           5|
|  8|   delivered|               29.99|              19.82|              1|     2017-05-16 13:10:00|2017-05-16 13:22:00|          2017-05-26 12:55:00|          Sao Paulo|            SP|                      48|           4|
|  9|   delivered|               59.99|              51.14|              1|     2017-01-23 18:29:00|2017-01-25 02:50:00|          2017-02-02 14:08:00|            Carajas|            PA|                     685|           5|
| 10|   delivered|               56.99|              16.13|              1|     2017-07-29 11:55:00|2017-07-29 12:05:00|          2017-08-16 17:14:00|            Resende|            RJ|                     275|           5|
| 11|   delivered|               599.0|              15.69|              1|     2017-05-16 19:41:00|2017-05-16 19:50:00|          2017-05-29 11:18:00|      Guaratingueta|            SP|                     125|           4|
| 12|   delivered|                62.0|              16.19|              1|     2017-07-13 19:58:00|2017-07-13 20:10:00|          2017-07-19 14:04:00|            Tijucas|            SC|                     882|           4|
| 13|   delivered|               250.0|              35.02|              1|     2018-06-07 10:06:00|2018-06-09 03:13:00|          2018-06-19 12:05:00|           Mirassol|            SP|                     151|           1|
| 14|   delivered|                69.9|              12.93|              1|     2018-07-25 17:44:00|2018-07-25 17:55:00|          2018-07-30 15:52:00|          SAO PAULO|            SP|                      82|           4|
| 15|   delivered|               250.0|               16.5|              1|     2018-03-01 14:14:00|2018-03-01 15:10:00|          2018-03-12 23:36:00|               Bage|            RS|                     964|           5|
| 16|   delivered|                79.9|               7.82|              1|     2018-06-07 19:03:00|2018-06-12 23:31:00|          2018-06-21 15:34:00|            Cubatao|            SP|                     115|           3|
| 17|   delivered|                32.0|              19.41|              1|     2018-01-02 19:00:00|2018-01-02 19:09:00|          2018-01-20 01:38:00|          Jaraguari|            MS|                     794|           4|
| 18|   delivered|               287.7|              15.37|              1|     2017-12-26 23:41:00|2017-12-26 23:50:00|          2018-01-08 22:36:00|Presidente Prudente|            SP|                     190|           5|
| 19|   delivered|               59.99|              15.18|              1|     2017-11-21 00:03:00|2017-11-21 00:14:00|          2017-11-27 18:28:00|   Cidade Ocidental|            GO|                     728|           3|
| 20|   delivered|              1200.0|              60.76|              1|     2017-10-26 15:54:00|2017-10-26 16:08:00|          2017-11-08 22:22:00|Sao Lourenco do Sul|            RS|                     961|           4|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_products_value: double (nullable = true)
 |-- order_freight_value: double (nullable = true)
 |-- order_items_qty: integer (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_aproved_at: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- review_score: integer (nullable = true)

Calculate the Mean of “order_products_value” , ”order_freight_value”

In [17]:
df.select(round(mean(col("order_products_value")), 2).alias("order_product_value_mean")).show()

+------------------------+
|order_product_value_mean|
+------------------------+
|                  127.88|
+------------------------+

In [18]:
df.select(round(mean(col("order_freight_value")), 2).alias("order_freight_value_mean")).show()

+------------------------+
|order_freight_value_mean|
+------------------------+
|                   21.35|
+------------------------+

2)	What is the distribution of “order_status”

In [19]:
df.groupBy(col("order_status")).\
    agg(count("order_status").alias("count")).\
        show()

+------------+-----+
|order_status|count|
+------------+-----+
|   delivered|  983|
|    canceled|    3|
|     shipped|   12|
|  processing|    1|
|    invoiced|    1|
+------------+-----+

3)	How many unique states are there?

In [20]:
df.select(col("customer_state")).distinct().show()

+--------------+
|customer_state|
+--------------+
|            MS|
|            CE|
|            MG|
|            DF|
|            RO|
|            AM|
|            MT|
|            SP|
|            PB|
|            BA|
|            SE|
|            RJ|
|            AC|
|            PR|
|            RR|
|            TO|
|            ES|
|            AL|
|            RN|
|            SC|
+--------------+
only showing top 20 rows

In [21]:
state_count=df.select(col("customer_state")).distinct().count()

In [22]:
state_count

26

4)	Are there any missing values in the dataset?

In [25]:
df_flagged = df.withColumn("has_null", lit(False))
for col_name in df.columns:
    df_flagged = df_flagged.withColumn("has_null", col("has_null") | col(col_name).isNull())

rows_with_null = df_flagged.filter(col("has_null")==True)
rows_with_null.show()

+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------------+--------------+------------------------+------------+--------+
| Id|order_status|order_products_value|order_freight_value|order_items_qty|order_purchase_timestamp|   order_aproved_at|order_delivered_customer_date|       customer_city|customer_state|customer_zip_code_prefix|review_score|has_null|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------------+--------------+------------------------+------------+--------+
|129|   delivered|               199.9|              15.15|              1|     2017-09-03 14:22:00|2017-09-03 14:30:00|                         NULL|      RIO DE JANEIRO|            RJ|                     212|           5|    true|
|155|   delivered|               14.03|              12.35|              1|     2018-01-10 11:33:00|2018-01-11 02:32:00|                         NULL|Sao Francisco de ...|            RJ|                     282|           3|    true|
|163|   delivered|              199.89|              15.49|              1|     2017-05-09 11:48:00|2017-05-11 11:45:00|                         NULL|Santa Rita do Sap...|            MG|                     375|           5|    true|
|232|   delivered|                14.0|               7.39|              1|     2017-11-17 19:53:00|2017-11-18 19:50:00|                         NULL|           Sao Paulo|            SP|                      31|           5|    true|
|267|   delivered|               249.9|              27.91|              1|     2017-11-16 15:09:00|2017-11-16 15:26:00|                         NULL|               Belem|            PA|                     660|           5|    true|
|300|   delivered|              166.96|              28.36|              1|     2018-06-28 12:52:00|2018-06-28 13:11:00|                         NULL|             Barueri|            SP|                      64|           1|    true|
|306|   delivered|                49.9|              41.33|              1|     2018-02-28 08:57:00|2018-02-28 10:40:00|                         NULL|      RIO DE JANEIRO|            RJ|                     230|           5|    true|
|325|   delivered|                69.0|              18.58|              1|     2016-10-05 22:44:00|2016-10-06 15:51:00|                         NULL|             Uberaba|            MG|                     380|           4|    true|
|334|   delivered|                29.9|               8.88|              1|     2018-03-17 15:32:00|2018-03-17 15:48:00|                         NULL|          Piracicaba|            SP|                     134|           5|    true|
|375|   delivered|               169.9|              22.66|              1|     2018-06-08 20:06:00|2018-06-12 04:35:00|                         NULL|              OSASCO|            SP|                      61|           5|    true|
|398|   delivered|               165.0|              19.03|              1|     2018-08-04 14:29:00|2018-08-07 04:10:00|                         NULL|             Chapeco|            SC|                     898|           5|    true|
|431|   delivered|               375.8|              32.86|              2|     2017-04-25 13:35:00|2017-04-25 13:45:00|                         NULL|                Maua|            SP|                      93|           4|    true|
|445|   delivered|                99.9|              12.19|              1|     2017-11-24 09:23:00|2017-11-24 10:51:00|                         NULL|           Sao Paulo|            SP|                      46|           5|    true|
|456|   delivered|                88.8|              17.06|              1|     2017-08-01 18:17:00|2017-08-01 18:32:00|                         NULL|               Pains|            MG|                     355|           5|    true|
|541|   delivered|                50.0|               5.29|              1|     2017-06-26 07:04:00|2017-06-26 10:32:00|                         NULL|      RIO DE JANEIRO|            RJ|                     202|           1|    true|
|584|   delivered|                45.9|               8.72|              1|     2018-04-04 00:33:00|2018-04-04 00:48:00|                         NULL|             Barueri|            SP|                      64|           5|    true|
|587|   delivered|                24.9|               15.1|              1|     2018-01-31 11:31:00|2018-01-31 14:23:00|                         NULL|          Petropolis|            RJ|                     257|           5|    true|
|614|   delivered|                24.9|              11.06|              1|     2018-01-26 21:34:00|2018-01-26 21:58:00|                         NULL|               Cunha|            SP|                     125|           1|    true|
|688|   delivered|               329.0|              21.54|              1|     2017-08-14 17:38:00|2017-08-17 00:15:00|                         NULL|         Divinopolis|            MG|                     355|           5|    true|
|717|   delivered|                29.9|              19.11|              1|     2018-03-15 15:57:00|2018-03-15 16:11:00|                         NULL|        Forquilhinha|            SC|                     888|           5|    true|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------------+--------------+------------------------+------------+--------+
only showing top 20 rows

In [27]:
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_products_value: double (nullable = true)
 |-- order_freight_value: double (nullable = true)
 |-- order_items_qty: integer (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_aproved_at: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- review_score: integer (nullable = true)

5)	Top 5 cities with most order

In [30]:
df_temp=df.groupBy(col("customer_city")).agg(count("*").alias("order_count")).orderBy(col("order_count").desc())

In [32]:
df_temp.show(5)

+--------------+-----------+
| customer_city|order_count|
+--------------+-----------+
|     Sao Paulo|        143|
|RIO DE JANEIRO|         74|
|      BRASILIA|         24|
|Belo Horizonte|         21|
|      Curitiba|         19|
+--------------+-----------+
only showing top 5 rows

6)	Percent of orders delivered/ canceled etc

In [36]:
delivered_count=df.select(col("order_status")).filter(col("order_status")=="delivered").count()
delivered_count
canceled_count=df.select(col("order_status")).filter(col("order_status")=="canceled").count()
canceled_count

3

In [38]:
total_count=df.select("*").count()
total_count

1000

In [40]:
delivered_pct=(delivered_count/total_count)*100
delivered_pct

98.3

In [41]:
canceled_pct=(canceled_count/total_count)*100
canceled_pct

0.3

Question set 2

1)	Calculate the Total sales in each customer city

In [42]:
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_products_value: double (nullable = true)
 |-- order_freight_value: double (nullable = true)
 |-- order_items_qty: integer (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_aproved_at: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- review_score: integer (nullable = true)

In [44]:
df.groupBy(col("customer_city")).agg(round(sum(col("order_products_value")*col("order_items_qty")),2).alias("Total_Sales_by_city")).\
    show()

+--------------------+-------------------+
|       customer_city|Total_Sales_by_city|
+--------------------+-------------------+
|    Francisco Morato|              84.79|
|             Aracati|              102.0|
|           Americana|             675.78|
|                Tupa|               35.9|
|            Caieiras|              207.6|
|              Palmas|               99.6|
|             Maracas|             109.95|
|              Marica|              428.8|
|           Arapiraca|              349.9|
|     Pindamonhangaba|              294.8|
|        Santa Isabel|               19.9|
|         Sete Lagoas|             398.89|
|              Itajai|               88.0|
|              Guarai|               9.97|
|           Queimadas|               58.9|
|             Jaguare|               65.0|
|          Indaiatuba|             505.58|
|Sao Joaquim da Barra|               89.0|
|            Quintana|              349.9|
|                Ipua|              109.9|
+--------------------+-------------------+
only showing top 20 rows

2)	Correlation between order value order freight and item quantity

In [46]:
order_value_order_freight_corr = df.stat.corr("order_freight_value", "order_items_qty")
order_value_order_freight_corr

0.6330066852641087

3)	Calculate the Average Order delivery time / order approval time

In [47]:
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_products_value: double (nullable = true)
 |-- order_freight_value: double (nullable = true)
 |-- order_items_qty: integer (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_aproved_at: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- review_score: integer (nullable = true)

Average delivery time

In [49]:
from pyspark.sql.functions import col, avg, unix_timestamp

# Filter out rows with null values in order_delivered_customer_date
filtered_df = df.filter(col("order_delivered_customer_date").isNotNull())

# Calculate the delivery time in seconds
delivery_time_df = filtered_df.withColumn(
    "delivery_time_seconds",
    unix_timestamp(col("order_delivered_customer_date")) - unix_timestamp(col("order_purchase_timestamp"))
)



# Calculate the average delivery time in seconds
average_delivery_time_seconds = delivery_time_df.select(avg(col("delivery_time_seconds"))).first()[0]

# Convert the average delivery time to days
average_delivery_time_days = average_delivery_time_seconds / (60 * 60 * 24)

print(f"Average Order Delivery Time: {average_delivery_time_days} days")

Average Order Delivery Time: 12.326998835491933 days

In [51]:
delivery_time_df.show()

+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+---------------------+
| Id|order_status|order_products_value|order_freight_value|order_items_qty|order_purchase_timestamp|   order_aproved_at|order_delivered_customer_date|      customer_city|customer_state|customer_zip_code_prefix|review_score|delivery_time_seconds|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+---------------------+
|  1|   delivered|                79.0|               17.8|              1|     2017-10-02 10:56:00|2017-10-02 11:07:00|          2017-10-10 21:25:00|           Luziania|            GO|                     728|           5|               728940|
|  2|   delivered|               119.9|              27.16|              1|     2018-07-24 20:41:00|2018-07-26 03:24:00|          2018-08-07 15:27:00|          Joinville|            SC|                     892|           5|              1190760|
|  3|   delivered|              519.99|              41.69|              1|     2018-08-08 08:38:00|2018-08-08 08:55:00|          2018-08-17 18:06:00|              Serra|            ES|                     291|           1|               811680|
|  4|   delivered|                29.5|              17.92|              1|     2017-11-18 19:28:00|2017-11-18 19:45:00|          2017-12-02 00:28:00|     RIO DE JANEIRO|            RJ|                     222|           4|              1141200|
|  5|   delivered|               26.77|              23.11|              1|     2018-02-13 21:18:00|2018-02-13 22:20:00|          2018-02-16 18:17:00|          Sao Paulo|            SP|                      40|           5|               248340|
|  6|   delivered|               419.9|              23.02|              1|     2017-07-09 21:57:00|2017-07-09 22:10:00|          2017-07-26 10:57:00|       Santa Adelia|            SP|                     159|           5|              1429200|
|  7|   delivered|                65.0|              16.21|              1|     2017-04-11 12:22:00|2017-04-13 13:25:00|          2017-04-13 13:25:00|           Varginha|            MG|                     370|           5|               176580|
|  8|   delivered|               29.99|              19.82|              1|     2017-05-16 13:10:00|2017-05-16 13:22:00|          2017-05-26 12:55:00|          Sao Paulo|            SP|                      48|           4|               863100|
|  9|   delivered|               59.99|              51.14|              1|     2017-01-23 18:29:00|2017-01-25 02:50:00|          2017-02-02 14:08:00|            Carajas|            PA|                     685|           5|               848340|
| 10|   delivered|               56.99|              16.13|              1|     2017-07-29 11:55:00|2017-07-29 12:05:00|          2017-08-16 17:14:00|            Resende|            RJ|                     275|           5|              1574340|
| 11|   delivered|               599.0|              15.69|              1|     2017-05-16 19:41:00|2017-05-16 19:50:00|          2017-05-29 11:18:00|      Guaratingueta|            SP|                     125|           4|              1093020|
| 12|   delivered|                62.0|              16.19|              1|     2017-07-13 19:58:00|2017-07-13 20:10:00|          2017-07-19 14:04:00|            Tijucas|            SC|                     882|           4|               497160|
| 13|   delivered|               250.0|              35.02|              1|     2018-06-07 10:06:00|2018-06-09 03:13:00|          2018-06-19 12:05:00|           Mirassol|            SP|                     151|           1|              1043940|
| 14|   delivered|                69.9|              12.93|              1|     2018-07-25 17:44:00|2018-07-25 17:55:00|          2018-07-30 15:52:00|          SAO PAULO|            SP|                      82|           4|               425280|
| 15|   delivered|               250.0|               16.5|              1|     2018-03-01 14:14:00|2018-03-01 15:10:00|          2018-03-12 23:36:00|               Bage|            RS|                     964|           5|               984120|
| 16|   delivered|                79.9|               7.82|              1|     2018-06-07 19:03:00|2018-06-12 23:31:00|          2018-06-21 15:34:00|            Cubatao|            SP|                     115|           3|              1197060|
| 17|   delivered|                32.0|              19.41|              1|     2018-01-02 19:00:00|2018-01-02 19:09:00|          2018-01-20 01:38:00|          Jaraguari|            MS|                     794|           4|              1492680|
| 18|   delivered|               287.7|              15.37|              1|     2017-12-26 23:41:00|2017-12-26 23:50:00|          2018-01-08 22:36:00|Presidente Prudente|            SP|                     190|           5|              1119300|
| 19|   delivered|               59.99|              15.18|              1|     2017-11-21 00:03:00|2017-11-21 00:14:00|          2017-11-27 18:28:00|   Cidade Ocidental|            GO|                     728|           3|               584700|
| 20|   delivered|              1200.0|              60.76|              1|     2017-10-26 15:54:00|2017-10-26 16:08:00|          2017-11-08 22:22:00|Sao Lourenco do Sul|            RS|                     961|           4|              1146480|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+---------------------+
only showing top 20 rows

In [54]:
delivery_time_df.select(col("delivery_time_seconds")).show()

+---------------------+
|delivery_time_seconds|
+---------------------+
|               728940|
|              1190760|
|               811680|
|              1141200|
|               248340|
|              1429200|
|               176580|
|               863100|
|               848340|
|              1574340|
|              1093020|
|               497160|
|              1043940|
|               425280|
|               984120|
|              1197060|
|              1492680|
|              1119300|
|               584700|
|              1146480|
+---------------------+
only showing top 20 rows

In [52]:
delivery_time_df.select(avg(col("delivery_time_seconds"))).show()

+--------------------------+
|avg(delivery_time_seconds)|
+--------------------------+
|         1065052.699386503|
+--------------------------+

In [53]:
delivery_time_df.select(avg(col("delivery_time_seconds"))).first()[0]

1065052.699386503

Average approval time

In [50]:
# Filter out rows with null values in order_aproved_at
filtered_df_approval = df.filter(col("order_aproved_at").isNotNull())

# Calculate the approval time in seconds
approval_time_df = filtered_df_approval.withColumn(
    "approval_time_seconds",
    unix_timestamp(col("order_aproved_at")) - unix_timestamp(col("order_purchase_timestamp"))
)

# Calculate the average approval time in seconds
average_approval_time_seconds = approval_time_df.select(avg(col("approval_time_seconds"))).first()[0]

# Convert the average approval time to hours
average_approval_time_hours = average_approval_time_seconds / (60 * 60)

print(f"Average Order Approval Time: {average_approval_time_hours} hours")

Average Order Approval Time: 10.507299999999999 hours

4)	Calculate the Average review score per Order

In [62]:
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_products_value: double (nullable = true)
 |-- order_freight_value: double (nullable = true)
 |-- order_items_qty: integer (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_aproved_at: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- review_score: integer (nullable = true)

In [65]:
df.groupBy(col("order_status")) \
  .agg(round(avg(col("review_score")), 2).alias("avg_review_score")) \
  .show()

+------------+----------------+
|order_status|avg_review_score|
+------------+----------------+
|   delivered|            4.14|
|    canceled|             1.0|
|     shipped|            1.25|
|  processing|             1.0|
|    invoiced|             1.0|
+------------+----------------+

5)	Find the top 3 cities with fastest and slowest delivery times

In [68]:
# Filter out rows with null values in order_aproved_at
filtered_df_approval = df.filter(col("order_aproved_at").isNotNull())

# Calculate the approval time in seconds
approval_time_df = filtered_df_approval.withColumn(
    "approval_time_seconds",
    unix_timestamp(col("order_aproved_at")) - unix_timestamp(col("order_purchase_timestamp"))
)

top 3 slowest

In [69]:
delivery_time_df.orderBy(col("delivery_time_seconds").desc()).show(3)

+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------+--------------+------------------------+------------+---------------------+
| Id|order_status|order_products_value|order_freight_value|order_items_qty|order_purchase_timestamp|   order_aproved_at|order_delivered_customer_date| customer_city|customer_state|customer_zip_code_prefix|review_score|delivery_time_seconds|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------+--------------+------------------------+------------+---------------------+
|253|   delivered|                29.0|               4.48|              1|     2018-02-01 07:47:00|2018-02-01 08:10:00|          2018-04-23 15:49:00|RIO DE JANEIRO|            RJ|                     220|           5|              7027320|
|659|   delivered|               149.0|              14.79|              1|     2018-01-19 00:48:00|2018-01-19 01:21:00|          2018-04-04 17:12:00|          Mage|            RJ|                     259|           5|              6539040|
|446|   delivered|                79.0|              18.79|              1|     2018-03-16 11:31:00|2018-03-16 11:49:00|          2018-05-14 12:28:00|RIO DE JANEIRO|            RJ|                     218|           5|              5101020|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------+--------------+------------------------+------------+---------------------+
only showing top 3 rows

top 3 fastest

In [70]:
delivery_time_df.orderBy(col("delivery_time_seconds")).show(3)

+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------------+--------------+------------------------+------------+---------------------+
| Id|order_status|order_products_value|order_freight_value|order_items_qty|order_purchase_timestamp|   order_aproved_at|order_delivered_customer_date|       customer_city|customer_state|customer_zip_code_prefix|review_score|delivery_time_seconds|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------------+--------------+------------------------+------------+---------------------+
| 45|   delivered|               69.49|              13.61|              1|     2018-06-04 16:44:00|2018-06-05 04:31:00|          2018-06-05 04:31:00|Sao Bernardo do C...|            SP|                      98|           4|                42420|
|396|   delivered|                21.9|              11.85|              1|     2018-02-02 15:26:00|2018-02-02 16:00:00|          2018-02-03 15:05:00|      Ribeirao Preto|            SP|                     140|           5|                85140|
|736|   delivered|                23.7|               7.78|              1|     2017-11-16 13:54:00|2017-11-16 14:08:00|          2017-11-17 13:49:00|     Mogi das Cruzes|            SP|                      87|           4|                86100|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+--------------------+--------------+------------------------+------------+---------------------+
only showing top 3 rows

6)	Relation between delivery time and review score (average delivery time for each review score) / Correlation between delivery time and review score

In [71]:
delivery_time_df.stat.corr("delivery_time_seconds","review_score")

0.021838753266314088

Save as table orders

In [72]:
df.write.saveAsTable("orders_table",header=True)

ivysettings.xml file not found in HIVE_HOME or HIVE_CONF_DIR,/etc/hive/conf.dist/ivysettings.xml will be used
24/07/21 05:21:22 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

In [74]:
spark.sql("""
          
          Select * from orders_table;
          
          """).show()

+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+
| Id|order_status|order_products_value|order_freight_value|order_items_qty|order_purchase_timestamp|   order_aproved_at|order_delivered_customer_date|      customer_city|customer_state|customer_zip_code_prefix|review_score|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+
|  1|   delivered|                79.0|               17.8|              1|     2017-10-02 10:56:00|2017-10-02 11:07:00|          2017-10-10 21:25:00|           Luziania|            GO|                     728|           5|
|  2|   delivered|               119.9|              27.16|              1|     2018-07-24 20:41:00|2018-07-26 03:24:00|          2018-08-07 15:27:00|          Joinville|            SC|                     892|           5|
|  3|   delivered|              519.99|              41.69|              1|     2018-08-08 08:38:00|2018-08-08 08:55:00|          2018-08-17 18:06:00|              Serra|            ES|                     291|           1|
|  4|   delivered|                29.5|              17.92|              1|     2017-11-18 19:28:00|2017-11-18 19:45:00|          2017-12-02 00:28:00|     RIO DE JANEIRO|            RJ|                     222|           4|
|  5|   delivered|               26.77|              23.11|              1|     2018-02-13 21:18:00|2018-02-13 22:20:00|          2018-02-16 18:17:00|          Sao Paulo|            SP|                      40|           5|
|  6|   delivered|               419.9|              23.02|              1|     2017-07-09 21:57:00|2017-07-09 22:10:00|          2017-07-26 10:57:00|       Santa Adelia|            SP|                     159|           5|
|  7|   delivered|                65.0|              16.21|              1|     2017-04-11 12:22:00|2017-04-13 13:25:00|          2017-04-13 13:25:00|           Varginha|            MG|                     370|           5|
|  8|   delivered|               29.99|              19.82|              1|     2017-05-16 13:10:00|2017-05-16 13:22:00|          2017-05-26 12:55:00|          Sao Paulo|            SP|                      48|           4|
|  9|   delivered|               59.99|              51.14|              1|     2017-01-23 18:29:00|2017-01-25 02:50:00|          2017-02-02 14:08:00|            Carajas|            PA|                     685|           5|
| 10|   delivered|               56.99|              16.13|              1|     2017-07-29 11:55:00|2017-07-29 12:05:00|          2017-08-16 17:14:00|            Resende|            RJ|                     275|           5|
| 11|   delivered|               599.0|              15.69|              1|     2017-05-16 19:41:00|2017-05-16 19:50:00|          2017-05-29 11:18:00|      Guaratingueta|            SP|                     125|           4|
| 12|   delivered|                62.0|              16.19|              1|     2017-07-13 19:58:00|2017-07-13 20:10:00|          2017-07-19 14:04:00|            Tijucas|            SC|                     882|           4|
| 13|   delivered|               250.0|              35.02|              1|     2018-06-07 10:06:00|2018-06-09 03:13:00|          2018-06-19 12:05:00|           Mirassol|            SP|                     151|           1|
| 14|   delivered|                69.9|              12.93|              1|     2018-07-25 17:44:00|2018-07-25 17:55:00|          2018-07-30 15:52:00|          SAO PAULO|            SP|                      82|           4|
| 15|   delivered|               250.0|               16.5|              1|     2018-03-01 14:14:00|2018-03-01 15:10:00|          2018-03-12 23:36:00|               Bage|            RS|                     964|           5|
| 16|   delivered|                79.9|               7.82|              1|     2018-06-07 19:03:00|2018-06-12 23:31:00|          2018-06-21 15:34:00|            Cubatao|            SP|                     115|           3|
| 17|   delivered|                32.0|              19.41|              1|     2018-01-02 19:00:00|2018-01-02 19:09:00|          2018-01-20 01:38:00|          Jaraguari|            MS|                     794|           4|
| 18|   delivered|               287.7|              15.37|              1|     2017-12-26 23:41:00|2017-12-26 23:50:00|          2018-01-08 22:36:00|Presidente Prudente|            SP|                     190|           5|
| 19|   delivered|               59.99|              15.18|              1|     2017-11-21 00:03:00|2017-11-21 00:14:00|          2017-11-27 18:28:00|   Cidade Ocidental|            GO|                     728|           3|
| 20|   delivered|              1200.0|              60.76|              1|     2017-10-26 15:54:00|2017-10-26 16:08:00|          2017-11-08 22:22:00|Sao Lourenco do Sul|            RS|                     961|           4|
+---+------------+--------------------+-------------------+---------------+------------------------+-------------------+-----------------------------+-------------------+--------------+------------------------+------------+
only showing top 20 rows

In [75]:
spark.stop()