In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /usr/lib/spark/python (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.\
    builder.\
        appName("Orders testing").\
            getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/23 02:03:38 INFO SparkEnv: Registering MapOutputTracker
24/05/23 02:03:38 INFO SparkEnv: Registering BlockManagerMaster
24/05/23 02:03:38 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
24/05/23 02:03:38 INFO SparkEnv: Registering OutputCommitCoordinator

In [5]:
# from pyspark.sql import SparkSession

# # Initialize SparkSession
# spk = SparkSession.builder \
#     .appName("CSVExample") \
#     .getOrCreate()

# Path to the CSV directory
csv_file_path = "/user/sovik/retail_test/orders/"

# Read the CSV file into a DataFrame with header and schema inference
orders = spark.read.csv(csv_file_path, header=True, schema="order_id INT,order_date STRING,order_customer_id INT,order_status STRING")

In [7]:
orders_rdd=orders.rdd

In [8]:
orders_rdd.getNumPartitions()

1

In [16]:
orders_little=orders.limit(10)

In [17]:
orders_little.show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
+--------+--------------------+-----------------+---------------+

In [20]:
list_order_sample=orders_little.collect()
list_of_dicts=[row.asDict() for row in list_order_sample]

In [24]:
list_order_sample

[Row(order_id=2, order_date='2013-07-25 00:00:00.0', order_customer_id=256, order_status='PENDING_PAYMENT'),
 Row(order_id=3, order_date='2013-07-25 00:00:00.0', order_customer_id=12111, order_status='COMPLETE'),
 Row(order_id=4, order_date='2013-07-25 00:00:00.0', order_customer_id=8827, order_status='CLOSED'),
 Row(order_id=5, order_date='2013-07-25 00:00:00.0', order_customer_id=11318, order_status='COMPLETE'),
 Row(order_id=6, order_date='2013-07-25 00:00:00.0', order_customer_id=7130, order_status='COMPLETE'),
 Row(order_id=7, order_date='2013-07-25 00:00:00.0', order_customer_id=4530, order_status='COMPLETE'),
 Row(order_id=8, order_date='2013-07-25 00:00:00.0', order_customer_id=2911, order_status='PROCESSING'),
 Row(order_id=9, order_date='2013-07-25 00:00:00.0', order_customer_id=5657, order_status='PENDING_PAYMENT'),
 Row(order_id=10, order_date='2013-07-25 00:00:00.0', order_customer_id=5648, order_status='PENDING_PAYMENT'),
 Row(order_id=11, order_date='2013-07-25 00:00:00.0', order_customer_id=918, order_status='PAYMENT_REVIEW')]

In [21]:
list_of_dicts

[{'order_id': 2,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 256,
  'order_status': 'PENDING_PAYMENT'},
 {'order_id': 3,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 12111,
  'order_status': 'COMPLETE'},
 {'order_id': 4,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 8827,
  'order_status': 'CLOSED'},
 {'order_id': 5,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 11318,
  'order_status': 'COMPLETE'},
 {'order_id': 6,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 7130,
  'order_status': 'COMPLETE'},
 {'order_id': 7,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 4530,
  'order_status': 'COMPLETE'},
 {'order_id': 8,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 2911,
  'order_status': 'PROCESSING'},
 {'order_id': 9,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 5657,
  'order_status': 'PENDING_PAYMENT'},
 {'order_id': 10,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 5648,
  'order_status': 'PENDING_PAYMENT'},
 {'order_id': 11,
  'order_date': '2013-07-25 00:00:00.0',
  'order_customer_id': 918,
  'order_status': 'PAYMENT_REVIEW'}]

In [22]:
orders_rdd_v2=spark.sparkContext.parallelize(list_of_dicts)

In [23]:
orders_rdd_v2.getNumPartitions()

2

In [9]:
rdd_test = spark.sparkContext.parallelize(["Hello world", "Spark is awesome", "Big Data"])

In [10]:
rdd_test.getNumPartitions()

2

In [10]:
orders.limit(10).show(truncate=False)

+--------+---------------------+-----------------+---------------+
|order_id|order_date           |order_customer_id|order_status   |
+--------+---------------------+-----------------+---------------+
|2       |2013-07-25 00:00:00.0|256              |PENDING_PAYMENT|
|3       |2013-07-25 00:00:00.0|12111            |COMPLETE       |
|4       |2013-07-25 00:00:00.0|8827             |CLOSED         |
|5       |2013-07-25 00:00:00.0|11318            |COMPLETE       |
|6       |2013-07-25 00:00:00.0|7130             |COMPLETE       |
|7       |2013-07-25 00:00:00.0|4530             |COMPLETE       |
|8       |2013-07-25 00:00:00.0|2911             |PROCESSING     |
|9       |2013-07-25 00:00:00.0|5657             |PENDING_PAYMENT|
|10      |2013-07-25 00:00:00.0|5648             |PENDING_PAYMENT|
|11      |2013-07-25 00:00:00.0|918              |PAYMENT_REVIEW |
+--------+---------------------+-----------------+---------------+

In [14]:
csv_file_path = "/user/sovik/retail_test/order_items/"

# Read the CSV file into a DataFrame with header and schema inference
order_items = spark.read.csv(csv_file_path, header=True, schema="order_item_id INT,order_item_order_id INT,order_item_product_id INT,quantity INT,order_subtotal DOUBLE,price DOUBLE")

In [15]:
order_items.limit(10).show(truncate=False)

+-------------+-------------------+---------------------+--------+--------------+------+
|order_item_id|order_item_order_id|order_item_product_id|quantity|order_subtotal|price |
+-------------+-------------------+---------------------+--------+--------------+------+
|2            |2                  |1073                 |1       |199.99        |199.99|
|3            |2                  |502                  |5       |250.0         |50.0  |
|4            |2                  |403                  |1       |129.99        |129.99|
|5            |4                  |897                  |2       |49.98         |24.99 |
|6            |4                  |365                  |5       |299.95        |59.99 |
|7            |4                  |502                  |3       |150.0         |50.0  |
|8            |4                  |1014                 |4       |199.92        |49.98 |
|9            |5                  |957                  |1       |299.98        |299.98|
|10           |5                  |365                  |5       |299.95        |59.99 |
|11           |5                  |1014                 |2       |99.96         |49.98 |
+-------------+-------------------+---------------------+--------+--------------+------+

In [31]:
from pyspark.sql.functions import col,sum,round

In [19]:
order_items_temp=order_items.\
    select(col("order_item_id"),\
           col("order_item_product_id"),\
           col("quantity"),\
           col("order_subtotal"),\
           col("price")).\
    limit(100)

In [20]:
order_items_temp.show()

+-------------+---------------------+--------+--------------+------+
|order_item_id|order_item_product_id|quantity|order_subtotal| price|
+-------------+---------------------+--------+--------------+------+
|            2|                 1073|       1|        199.99|199.99|
|            3|                  502|       5|         250.0|  50.0|
|            4|                  403|       1|        129.99|129.99|
|            5|                  897|       2|         49.98| 24.99|
|            6|                  365|       5|        299.95| 59.99|
|            7|                  502|       3|         150.0|  50.0|
|            8|                 1014|       4|        199.92| 49.98|
|            9|                  957|       1|        299.98|299.98|
|           10|                  365|       5|        299.95| 59.99|
|           11|                 1014|       2|         99.96| 49.98|
|           12|                  957|       1|        299.98|299.98|
|           13|                  403|       1|        129.99|129.99|
|           14|                 1073|       1|        199.99|199.99|
|           15|                  957|       1|        299.98|299.98|
|           16|                  926|       5|         79.95| 15.99|
|           17|                  365|       3|        179.97| 59.99|
|           18|                  365|       5|        299.95| 59.99|
|           19|                 1014|       4|        199.92| 49.98|
|           20|                  502|       1|          50.0|  50.0|
|           21|                  191|       2|        199.98| 99.99|
+-------------+---------------------+--------+--------------+------+
only showing top 20 rows

In [27]:
df=order_items_temp.\
    groupBy(col("order_item_product_id")).\
        agg(round(sum(col("order_subtotal")),2).alias("grouped_subtotal"))

In [28]:
df.show(truncate=False)

+---------------------+----------------+
|order_item_product_id|grouped_subtotal|
+---------------------+----------------+
|1073                 |2799.86         |
|502                  |1800.0          |
|403                  |1429.89         |
|897                  |124.95          |
|365                  |2519.58         |
|1014                 |1899.24         |
|957                  |2999.8          |
|926                  |79.95           |
|191                  |2099.79         |
|917                  |21.99           |
|627                  |319.92          |
|134                  |100.0           |
|276                  |255.92          |
|1004                 |2799.86         |
|828                  |95.97           |
|810                  |79.96           |
|93                   |74.97           |
|37                   |69.98           |
|906                  |99.96           |
+---------------------+----------------+

In [33]:
from pyspark.sql.window import Window

In [34]:
# window_spec=Window.partitionBy(col("order_item_product_id")).orderBy(col("order_item_id").desc())

In [35]:
# window_spec = Window.partitionBy(col("order_item_product_id")) \
#                     .orderBy(col("order_item_id").desc()) \
#                     .rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [39]:
# window_spec = Window.partitionBy(col("order_item_product_id")) \
#                     .orderBy(col("order_item_id").desc()) \
#                     .rowsBetween(-2, Window.currentRow)

In [57]:
window_spec = Window.partitionBy(col("order_item_product_id")) \
                    .orderBy(col("order_item_id").desc()) \
                    .rowsBetween(Window.currentRow,3)

In [58]:
df_with_window = order_items.withColumn("rolling_sum", sum("order_subtotal").over(window_spec)).offset(456).show()

+-------------+-------------------+---------------------+--------+--------------+-----+-----------------+
|order_item_id|order_item_order_id|order_item_product_id|quantity|order_subtotal|price|      rolling_sum|
+-------------+-------------------+---------------------+--------+--------------+-----+-----------------+
|         7093|               2824|                   37|       2|         69.98|34.99|           314.91|
|         6518|               2599|                   37|       2|         69.98|34.99|            349.9|
|         6492|               2592|                   37|       3|        104.97|34.99|           419.88|
|         5795|               2318|                   37|       2|         69.98|34.99|           454.87|
|         4169|               1676|                   37|       3|        104.97|34.99|559.8399999999999|
|         3932|               1574|                   37|       4|        139.96|34.99|           524.85|
|         2859|               1154|                   37|       4|        139.96|34.99|           384.89|
|         2765|               1112|                   37|       5|        174.95|34.99|           244.93|
|           66|                 21|                   37|       2|         69.98|34.99|            69.98|
|       144295|              57681|                   44|       3|        179.97|59.99|           539.91|
|       143483|              57363|                   44|       1|         59.99|59.99|            599.9|
|       143473|              57359|                   44|       4|        239.96|59.99|            599.9|
|       143382|              57318|                   44|       1|         59.99|59.99|            599.9|
|       142854|              57113|                   44|       4|        239.96|59.99|839.8599999999999|
|       142585|              57008|                   44|       1|         59.99|59.99|           839.86|
|       142269|              56880|                   44|       4|        239.96|59.99|          1019.83|
|       141889|              56732|                   44|       5|        299.95|59.99|           959.84|
|       141392|              56529|                   44|       4|        239.96|59.99|           779.87|
|       141387|              56527|                   44|       4|        239.96|59.99|839.8599999999999|
|       141160|              56437|                   44|       3|        179.97|59.99|899.8499999999999|
+-------------+-------------------+---------------------+--------+--------------+-----+-----------------+
only showing top 20 rows